doctype html
html
  head
    title
      | Fagot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    link[href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet"]
    link [rel="stylesheet" href="css/normalize.min.css"]
    link [rel="stylesheet" href="css/animate.css"]
    link [rel="stylesheet" href="css/templatemo_misc.css"]
    link [rel="stylesheet" href="css/templatemo_style.css"]

  body
    = render 'shared/ie'
    = render 'shared/header'
    = render 'shared/site_slider'
    = yield
    = render 'shared/contact_content'
    = render 'shared/footer'
    
    script [src="js/jquery.easing-1.3.js"]
    script [src="js/plugins.js"]
    script [src="js/main.js"]